@media screen {
.app-x {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
}

.app-nav-m {
    top: 0;
    width: 100%;
    position: fixed;
}


}
/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
.app-nav-m {
    top: 0;
    width: 99%;
    position: fixed;
}

}
