@media screen {
.news-info-contain {
   height: 90vh;
   display: flex;
   padding: 10px;
   position: relative;
   flex-direction: column;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center top;
   justify-content: space-between;

}

.info-bar {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.news-info-contain span {
   padding: 10px;
   font-size: .7rem;
   color: var(--background-color);
   background: var(--secondary-color);
   backdrop-filter: blur( 2px );
   -webkit-backdrop-filter: blur( 2px );
}

.back-arrow {
   width: 24px;
   height: 24px;
   cursor: pointer;
   transform: rotate(180deg);
   fill: var(--secondary-color);
}

.news-info-content {
   gap: 5px;
   display: flex;
   width: 100%;
   flex-direction: column;
   background-color: var(--background-color);
}

.news-info-content h1 {
   padding: 10px;
   font-size: .8rem;
   width: fit-content;
   text-transform: uppercase;
   color: var(--background-color);
   background-color: var(--primary-color);

}

.news-info-content p {
   color: var(--primary-color);
   font-size: 1rem;
   padding: 10px;
   width: 100%;
}


.news-no {
   display: flex;
   height: 100vh;
   text-align: center;
   align-items: center;
   justify-content: center;
   color: var(--background-color);
   background-color: var(--primary-color);

}

.news-no span {
   font-size: 1rem;
   text-transform: capitalize;
}

}
/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
 
    
}
