@media screen {
  .offer-container {
    gap: 10px;
    display: flex;
    cursor: pointer;
    padding: 20px 0;
    text-align: center;
    flex-direction: column;
  }

  .offer-container span {
    font-size: 1rem;
    font-weight: 200;
    color: var(--primary-color);
  }

  .offerA-comp {
    display: flex;
    padding: 5px;
    height: 60px;
    width: 100%;
    align-items: center;
    border-radius: 12px;
    justify-content: space-between;
    background-color: var(--background-color);
    border: 1px solid var(--dark-primary-color);
  }




  .offer-container h1 {
    width: 40%;
    font-size: 0.8rem;
    text-align: center;
    color: var(--ads-color1);

  }

  .offerA-comp h2 {
    font-size: 0.7rem;
    color: var(--ads-color2);
  } 

  .offer-container span {
    font-size: 0.5rem;
    font-weight: 600;
  }

  .offerA-inner {
    width: 65%;
    height: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 12px;
    justify-content: space-between;
    border: 1px solid var(--dark-primary-color);
  }

  .bet-win , .bet-win-skeleton {
    width: 30px;
    height: 30px;
    border-radius: 8px;
  }

  .bet-win-skeleton {
    cursor: progress;
    background: linear-gradient(0.25turn, transparent, #fff, transparent),
      linear-gradient(#eee, #eee),
      radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
      linear-gradient(#eee, #eee);
    background-repeat: no-repeat;
    background-position: -315px 0, 0 0, 0px 190px, 50px 195px;
    animation: loading 2s infinite;
  }

  @keyframes loading {
    to {
      background-position: 315px 0, 0 0, 0 190px, 50px 195px;
    }
  }

  .offerA-circle {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 360%;
    justify-content: center;
    background-color: var(--ads-color2);
  }

  .offer-arrow {
    height: 20px;
    width: 20px;
    fill: var(--background-color);
  }
}
/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .offer-container {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .offerA-comp {
    width: 60%;
    height: 70px;
  }

  .offer-container h1 {
    font-size: 1.5rem;
  }

  .offerA-comp h2 {
    font-size: 1.5rem;
  }

  .offer-container span {
    font-size: .9rem;
    font-weight: 300;

  }

  .offerA-inner {
    width: 60%;
  }

  .bet-win {
    width: 40px;
    height: 40px;
  }

  .offerA-circle {
    width: 30px;
    height: 30px;
  }
}
