@media screen {
  .pop-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: var(--drop-shadow);
  }

  .pop-align {
    width: 80%;
    height: 40%;
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--primary-color);
  }

  .pop-inner {
    background-position: center center;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    height: 100%;
    width: 100%;
  }

  .pop-circle-container {
    width: 28px;
    height: 28px;
    z-index: 999;
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 360%;
    justify-content: center;
    background-color: var(--background-color);
  }

  .pop-circle-container:hover {
    background-color: var(--secondary-color);
  }

  .pop-circle-container .pop-exit-icon:hover {
    fill: var(--background-color);
  }

  .pop-exit-icon {
    width: 24px;
    height: 24px;
    fill: var(--primary-color);
  }

  .show-p {
    display: flex;
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .pop-align {
    width: 40%;
    height: 40%;
  }
}
