@media screen {
  .quick-main {
    gap: 5px;
    display: flex;
    padding: 20px 10px;
    flex-direction: column;
  }

  .q-icon {
    width: 16px;
    height: 16px;
    transform: rotate(90deg);
    fill: var(--secondary-color);
  }

  .quick-main h1 {
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
  }

  .quick-nav {
    gap: 10px;
    display: flex;
    padding: 10px 5px;
    border-radius: 5px;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
    justify-content: space-between;
    border: 1px solid var(--light-primary-color);
  }

  .quick-link {
    font-size: 0.8rem;
    min-width: fit-content;
    color: var(--primary-color);
  }

  .active {
    color: var(--secondary-color);
  }

  .inactive {
    color: var(--light-primary-color);
  }

  .q-panel {
    top: 300px;
    right: 10px;
    display: flex;
    position: absolute;
    width: fit-content;
    border-radius: 8px;
    flex-direction: column;
    background-color: var(--background-color);
    border: 1px solid var(--light-primary-color);
  }

  .q-panel span {
    padding: 10px;
    font-size: 0.8rem;
  }

  .drp-q {
    min-width: fit-content;
  }

  .q-panel span:hover {
    border-radius: 8px;
    color: var(--background-color);
    background-color: var(--secondary-color);
  }
}
/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .quick-main {
    display: none;
  }
}
