@media screen {
  .sticky-ads {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    border-radius: 0;
    position: sticky;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

  }

  .sticky-inner {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    border-radius: 0;
    height: 100%;
    width: 100%;
  }

  .show-s {
    display: flex;
  }

  .hide-s{
    display: none;
  }

}


/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {

.sticky-ads {
  margin: 20px;
  padding: 5px;
}


  .sticky-inner {
    width: 50%;
}
}