@media screen {
  .sticky-ads {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    display: none;
    border-radius: 0;
    position: sticky;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    background-color: transparent;

  }


  .sticky-inner {
    background-clip: content-box;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    object-fit: cover;
    cursor: pointer;
    max-width: 100%e;
    height: 100%;
    width: 100%;
  }

  .show-s {
    display: flex;
  }

  .hide-s{
    display: none;
  }

}


/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {

.sticky-ads {
  margin: 20px;
  padding: 5px;
  visibility: visible;
  

}

  .sticky-inner {
    width: 700px;
}
}